
{% extends "jefe/baseT.html" %}

{% block titulo %} Actualizar Trabajador {% endblock %}

{% block contenido %}

<br>
<div class="card mx-auto w-75 mb-3 ">
    <div class="card-header text-center">
      <h3>Actualizar Trabajador</h3>
    </div>
    
    <div class="card-body">
        <form method="post" action="">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-success">Guardar cambios</button>
        </form>
        <a href="{% url 'listaTrabajadores' %}" class="btn btn-info mt-3">Volver</a>
    </div>
</div>

{% endblock %}
